<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnCNPM.Properties.Settings.QL_Thu_VienConnectionString"
            connectionString="Data Source=TOANTAM\SQLEXPRESS;Initial Catalog=QL_Thu_Vien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DoAnCNPM.Properties.Settings.QL_Thu_VienConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=QL_Thu_Vien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>